/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
	  padding-top:50px;
	  font-family:'Oxygen', sans-serif !important;
    }



    .foto-equipo{
		width:100px;
		height:120px;
	}

	.bloqueCompleto {
		width: 100%;
	}

	.enmarcado {
		padding-top:40px;
		padding-bottom:40px;
	}

	.espaciadoVertical {
		margin-top: 100px;
	}

	.gris {
		background-color: #dddddd;
	}

	.azul {
		background-color: #5c94ee;
	}

	.rojo {
		background-color: #e56e52;
	}

	.celeste {
		background-color: #aaf2e6;
	}

	.amarillo{
		background-color: #cde96c;
	}

	.naranja {
		background-color: #f5bc5b;
	}

	.verde {
		background-color: #7bdf6c;
	}

	.titulo {
		text-align:center;
		margin-bottom: 40px;
	}
	/* Este es el degradado verde
	
    #reproductorAndroid:hover {
      background-image: linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 30%);
      background-image: -o-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 30%);
      background-image: -moz-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 30%);
      background-image: -webkit-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 30%);
      background-image: -ms-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 30%);
    }

    #reproductorAndroid:active {
      background-image: linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 70%);
      background-image: -o-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 70%);
      background-image: -moz-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 70%);
      background-image: -webkit-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 70%);
      background-image: -ms-linear-gradient(bottom, rgb(27,125,31) 4%, rgba(29,117,20, 0) 70%);
    }*/

    #reproductorAndroid:hover{
      background-image: linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 30%);
      background-image: -o-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 30%);
      background-image: -moz-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 30%);
      background-image: -webkit-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 30%);
      background-image: -ms-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 30%);
    }

    #reproductorAndroid:active{
      background-image: linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 70%);
      background-image: -o-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 70%);
      background-image: -moz-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 70%);
      background-image: -webkit-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 70%);
      background-image: -ms-linear-gradient(bottom, rgb(228,170,10) 4%, rgba(173,128,16, 0) 70%);
    }

    #reproductorPc:hover{
      background-image: linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 30%);
      background-image: -o-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 30%);
      background-image: -moz-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 30%);
      background-image: -webkit-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 30%);
      background-image: -ms-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 30%);
    }

    #reproductorPc:active{
      background-image: linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 70%);
      background-image: -o-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 70%);
      background-image: -moz-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 70%);
      background-image: -webkit-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 70%);
      background-image: -ms-linear-gradient(bottom, rgb(170,170,170) 4%, rgba(125,125,125, 0) 70%);
    }

    #quienesSomos:hover{
      background-image: linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 30%);
      background-image: -o-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 30%);
      background-image: -moz-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 30%);
      background-image: -webkit-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 30%);
      background-image: -ms-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 30%);
    }

    #quienesSomos:active{
      background-image: linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 70%);
      background-image: -o-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 70%);
      background-image: -moz-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 70%);
      background-image: -webkit-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 70%);
      background-image: -ms-linear-gradient(bottom, rgb(187,32,31) 4%, rgba(138,18,18, 0) 70%);
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
    .item .container {
      position: relative;
      z-index: 9;
    }
    .carousel .item {
      height: 500px;
    }
    .item img {
      position: absolute;     
      min-width: 100%;
	  max-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      padding: 0 0px;
	  text-align:left;
	  margin-top: 40px;
    }
	.visible-xs .carousel-caption{
		width:100%;
		padding:0px;
		margin:0px;
	}
    .carousel-caption h1,
    .carousel-caption .lead {
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
	.carousel-caption .lead 
	{
		padding-top:30px;
	}
	.carousel-control
	{
		width:10%;
	}
	.carousel-caption h1{
      font-size: 65px;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
	
	
	/*-------------------------------------------------- */


    

    .target li:hover{
      cursor: pointer;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }

      .carousel .container {

      }
      .carousel .item {
        height: 450px;
      }
      .carousel img {
        height: 450px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

    }